.avatar-img img:hover {
  transform: none !important;
}
.card-announcement .item-headline i {
  color: inherit !important;   /* 或者写你想要的颜色，如 #666 */
  animation: none !important;
  transform: none !important;
}

/* 标签/分类卡片圆角和阴影 */
#tag, #category {
  border-radius: 16px;
}
#tag .card-tag-cloud a, #category .category-list a {
  border-radius: 999px;
  padding: 6px 12px;
}